{% if product.metafields.custom.choose_your_color.value != blank %}
    {% assign choose_your_color = product.metafields.custom.choose_your_color.value %}
    <span class="choose-your-color_text">Choose your Color : <b>{{ product.metafields.custom.choose_your_color_name }}</b></span>
   
    <div class="choose-your-color_wrapper">
    {% for p_product in choose_your_color %}
    {% assign active_color = false %}
    {% if product.metafields.custom.choose_your_color_name == p_product.metafields.custom.choose_your_color_name %}
        {% assign active_color = true %}
    {% endif %}
        {% if active_color == false %}
            <a href="{{ p_product.url }}" class="choose-your-color ">
        {% else %}
            <div class="choose-your-color active">
        {% endif %}
            <div class="choose-your-color_image">
            <img
             src="{{ p_product.metafields.custom.choose_your_color_image | image_url: width: 80 , height: 80 }}"
             width="80"
             height="80"
             alt="{{ p_product.metafields.custom.choose_your_color_name }}">
             {% if p_product.available == false %}
             <span class="choose-your-color_sold-out">Sold Out</span>
             {% endif %}
             </div>
            <span>{{ p_product.metafields.custom.choose_your_color_name }}</span>
        {% if active_color == false %}
            </a>
        {% else %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}     